﻿.no-margin { margin: 0px; }

.no-margin-bottom { margin-bottom: 0px; }

.no-padding { padding: 0px; }

.no-overflow { overflow: hidden }

.header { height: 75px; }

.footer { height: 30px; }


.disable_a_href { pointer-events: none; }

.scrollable {
    height: 500px;
    overflow: auto;
}



/*file table style*/

#tbl_file_holder { }

#tbl_file_holder td { cursor: default }

#tbl_file_holder tr div.dropdown { display: none }

#tbl_file_holder tr:hover div.dropdown { display: inline }

#tbl_file_holder div.dropdown a { cursor: default }

/*action-image buttons*/

a.btn-image {
    cursor: default;
    text-decoration: none;
}

/*---------------- Start: drop zone  ---------------*/
.dropzone_holder { }

.dropzone-small {
    height: 150px; /* Height of the footer */
    margin-bottom: 15px;
    max-height: 150px;
    min-height: 150px;
    overflow: auto;
    padding: 15px;
}

/*uploaded file's image size*/
.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
    background: none repeat scroll 0 0 #ebebeb;
    height: 70px;
    margin-bottom: 22px;
    padding: 5px;
    position: relative;
    width: 70px;
}
.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
}
/*---------------- End: drop zone  ---------------*/



/*---------------- File TreeView ----------------------*/
    .treeview{
    }

    .treeview ul,
    .treeview li{
        cursor: default;
        list-style-type: none;
    }

    .treeview ul,
    .treeview li > ul{
        margin: 0 0 0 -22px;
    }

    .treeview input.collapseIndicator,
    .treeview .collapseIndicatorIcon,
    .treeview .title,
    .treeview .actionHolder,
    .treeview .titleHolder,
    .treeview .action{
        display: inline-block;      /*important to all of them to be inline-block*/
        cursor: default;
        margin: 0px;
    }

        /*---------- arrow right toggle result ------------*/
    .treeview input.collapseIndicator{
        position: absolute;         /*important to be absolute*/
        opacity: 0;                 /*default:0, change to 1 to see the check box, under arrow sign*/
        margin-left: -5px;
    }
        /*hide children: arrow down to arrow right*/
    .treeview li input.collapseIndicator ~ ul.children{
        display: none;
    }
        /*show children: arrow right to arrow down*/
    .treeview li input.collapseIndicator:checked ~ ul.children{
        display: block;
    }

        /*---------  collapseIndicatorIcon  ------------*/
    .treeview .collapseIndicatorIcon{
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;

        position: relative;
        left: 0px;
    }
        /*arrow right icon*/
    .treeview .collapseIndicatorIcon:before{
        content: "\f0da";
        color: #000;
    }
        /*on mouse over arrow right to red*/
    .treeview .collapseIndicatorIcon:hover:before{
        content: "\f0da";
        color: red;
    }
        /*arrow down icon*/
    .treeview input.collapseIndicator:checked + .actionHolder > .titleHolder > .collapseIndicatorIcon:before{
        content: "\f0d7";
        color: #000;
    }
        /*arrow down icon to red*/
    .treeview input.collapseIndicator:checked + .actionHolder > .titleHolder > .collapseIndicatorIcon:hover:before{
        content: "\f0d7";
        color: red;
    }

        /* ------------- file icon ---------*/
    .treeview .title{
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;

        position: relative;
        font-size: 15px;
        position: relative;
        left: 0px;
    }
    /*file icon*/
    .treeview .title:before{
        content: "\f07b";
        color: #000;
        padding-right: 0.2em;
    }
    /*open file icon */
    .treeview input.collapseIndicator:checked ~ .actionHolder > .title:before{
        content: "\f07c";
        color: #000;
        padding-right: 0.2em;
    }

        /*image icon*/
    .treeview .title.image:before{
        content: "\f03e";
        color: #000;
        padding-right: 0.2em;
    }
        /*open image icon*/
    .treeview input.collapseIndicator:checked ~ .actionHolder > .title.image:before{
        content: "\f03e";
        color: #000;
        padding-right: 0.2em;
    }

        /*----------- action and its options ------------*/
    .treeview .actionHolder > i.action{
        display: none;
    }
    /*show options*/
    .treeview .actionHolder.hovered >  i.action{
        display: inline-block;
    }

    /*----------- one folder mouse over ------------*/
    /*for transparent border and background*/
    .treeview .actionHolder > .titleHolder{
        padding: 0px;
        border: 2px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0,0,0,0);
    }

    .treeview .actionHolder.hovered > .titleHolder{
        padding: 0px;
        border: 2px solid #DDDDDD;
        border-radius: 5px;
        background-color: #F5F5F5
    }

        /*----------- selected folder ------------*/
    .treeview li.selected > .actionHolder > .titleHolder {
        padding: 0px;
        border: 2px solid #535252;
        border-radius: 5px;
        background-color: #F5F5F5
    }


    .treeview .folderType{
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        margin-left: 25px;
    }
/*------------------------- File TreeView ----------------------------*/