﻿@model dynamic

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .done{text-decoration:line-through}
</style>

<div data-bind="template: { name: 'folder-add-modal-template', data: $root.folderListVm }"></div>
<div data-bind="template: { name: 'folder-rename-modal-template', data: $root.folderListVm }"></div>
<div data-bind="template: { name: 'file-rename-modal-template', data:  $root.fileListVm }"></div>


<div class="container-fluid no-padding">
    <!--folder-->
    <div id="resizable" class="col-md-3 no-padding">
        <div class="panel panel-default" data-bind="with: folderListVm">
            <div class="panel-heading header">
                <h3>
                    <a id="btnRefresh" class="fa fa-refresh btn-image pull-left disable_a_href" data-bind="click: load"></a>
                    &nbsp; Stored Folders                    
                </h3>
            </div>
            <div id="divFolderContainer" class="panel-body scrollable">
                <div class="treeview">
                    <ul data-bind="template: { name: 'nodeTmpl', foreach: root }"></ul>
                </div>
            </div>
        </div>
    </div>

    <!--files-->
    <div id="mirror" class="col-md-9 no-padding">
        <div class="panel panel-default" data-bind="with: fileListVm">
            <div class="panel-heading" style="height: 75px">
                <h3>
                    <a id="btnUpload" class="fa fa-upload btn-image pull-left disable_a_href" data-bind="click: showUploader"></a>

                    <a id="btnRefresh" class="fa fa-refresh btn-image pull-left disable_a_href" data-bind="click: reload"></a>
                    &nbsp; Storage Location
                    <small data-bind="text: breadcrumb"></small>
                </h3>                
            </div>
            <div id="divFileContainer" class="panel-body scrollable">
                <!--file dropzone to upload-->
                <div class="dropzone_holder" style="display: none">
                    <a id="btnUploadDone" class="fa fa-2x fa-chevron-up btn-image pull-left" data-bind="click: hideUploader"></a>
                    <form id="file-dropzone" class="dropzone dropzone-small" title="Click To Upload" data-tooltip="tooltip"></form>
                </div>

                <!--files of selected folder-->
                <table id="tbl_file_holder" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Modified</th>
                            <th>Type</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: files">
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" style="position: absolute"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a role="menuitem" data-bind="click: $parent.showToRename"><i class="fa fa-pencil"></i>&nbsp; Rename</a></li>
                                        <li><a role="menuitem" data-bind="click: $parent.confirmToRemove"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                                    </ul>
                                </div>
                                <span data-bind="text: Name" style="margin-left: 15px;"></span>
                            </td>
                            <td data-bind="text: DisplayModifiedDateTime"></td>
                            <td data-bind="text: Type"></td>
                            <td data-bind="text: Size"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ol>
    DESIGN
    <li>App checks on add folder for duplicates - verified</li>
    </ol>


    <ol>
        TODO
        <li class="done">fix selected and hover css to cover entire line</li>
        <li class="done">fix hover jitter on files</li>
        <li class="done">hide checkbox</li>
        <li class="done">
            Change so if menu is clicked, current folder is selected. and all files are loaded.
            When new folder is added, make it selected
        </li>
        <li class="done">Fix if needed - Change delete to use next, previous, parent as selected</li>
        <li>Document and be able to upload 100 MB. It fails on uploaded 20MB</li>
        <li>Gabriel - add download</li>
        <li>Gabriel - add size</li>
        <li>Gabriel - add friendly date</li>
        <li class="done">LOW - make the uploaded icons smaller.</li>
        
        <li>LATER - Add better error message for deleting non-empty folder whether subfolders or files</li>
        <li>LATER - on delete file set selected, clear selected on cancel</li>
        <li>LATER - on rename folder and rename file, use inline editing with validation</li>
        <li class="done">Convert to use pattern in csstreeview/demo2.</li>
        <li class="done">Handle selected</li>
    </ol>

<ol>
    Knowledge Base
    <li>Make change in web.config - two areas.  http://stackoverflow.com/questions/3853767/maximum-request-length-exceeded.
    For now, Dropzone  maxFilesize: 70 does not work.  It seems to have 256 MB max size.    
    </li>
    </ol>


    @section scripts{

        <!--
            important css:
            .treeview:              div.treeview
            .collapseIndicator:     input[type='checkbox'].collapseIndicator
            .collapseIndicatorIcon: label[for the input].collapseIndicatorIcon
            .title:                 span.title
            .children:              ul.children

            additional:
            .actionHolder:  div.actionHolder
            .titleHolder:  div.titleHolder
            .action:        i.action
            .selected:      li.selected
            .hovered:       .actionHolder.hovered(handaled from js)

            how to use fo icons in css, http://astronautweb.co/snippet/font-awesome/
        -->
        <!--template-->
        <!--folder tree view -->
        <script id="nodeTmpl" type="text/html">
            <li data-bind="attr: {class: selected() ? 'selected' : ''}">
                <input class="collapseIndicator" type="checkbox" data-bind="checked: expended, attr: { id: collapseIndicatorId()}" />
                <div class="dropdown actionHolder">
                    <div class="titleHolder">
                        <label class="collapseIndicatorIcon" data-bind="attr: { for: collapseIndicatorId()}"></label>
                        <span class="title" data-bind="attr: { class: 'title ' + typeClass()}, text: displayName, click: $root.showFiles"></span>
                    </div>
                    <i class="action fa fa-cog dropdown-toggle" data-toggle="dropdown" data-bind="click: $root.showFiles"></i>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <select class="folderType form-clontrol" data-bind="options: allType,
                                                                    optionsText: 'text',
                                                                    optionsValue: 'value',
                                                                    value: type"></select>

                        </li>
                        <li><a role="menuitem" data-bind="click: $root.folderListVm.showToAdd"><i class="fa fa-plus"></i>&nbsp; Add Folder</a></li>
                        <li><a role="menuitem" data-bind="click: $root.folderListVm.showToRename"><i class="fa fa-pencil"></i>&nbsp; Rename</a></li>
                        <li><a role="menuitem" data-bind="click: $root.folderListVm.confirmToRemove"><i class="fa fa-trash-o"> </i>&nbsp; Delete</a></li>
                    </ul>
                </div>
                <ul class="children" data-bind="template: { name: 'nodeTmpl', foreach: $root.folderListVm.children(id) }"></ul>
            </li>
        </script>

        <!--folder add modal-->
        <script type="text/html" id="folder-add-modal-template">
            <div class="modal fade" id="folder-add-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" data-bind="text:formTitle">Add Folder</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="#">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"> Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Name" data-bind="value: name" />
                                    </div>
                                    <div class="6"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-bind="click: add"> Add</a>
                            <a class="btn btn-default" data-dismiss="modal"> close</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <!--foler rename modal-->
        <script type="text/html" id="folder-rename-modal-template">
            <div class="modal fade" id="folder-rename-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" data-bind="text:formTitle">Rename Folder</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="#">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"> Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Name" data-bind="value: name" />
                                    </div>
                                    <div class="6"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-bind="click: rename"> Update</a>
                            <a class="btn btn-default" data-dismiss="modal"> Colse</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <!--file rename modal-->
        <script type="text/html" id="file-rename-modal-template">
            <div class="modal fade" id="file-rename-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Rename File</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="#">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"> Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Name" data-bind="value: name" />
                                    </div>
                                    <div class="6"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" data-bind="click: $root.fileListVm.rename"> Update</a>
                            <a class="btn btn-default" data-dismiss="modal"> Colse</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>


        <script>
            var fileroot = '/demo/';
            $(function () {

                var h = $(window).height();
                $('.scrollable').each(function () {
                    $(this).height(h - 120 + 'px');
                });

                if ($('.container-fluid').innerWidth() > 992) {
                    $("#resizable").resizable({
                        maxWidth: $('.container-fluid').innerWidth() - 300,
                        minWidth: 300
                    });
                }

                $(window).resize(function () {
                    if ($('.container-fluid').innerWidth() <= 992) {
                        $('.col-xs-12').css('width', '100%');
                        $("#resizable").resizable({ disabled: true });
                    } else {
                        if ($("#resizable").innerWidth() === $('.container-fluid').innerWidth()) {
                            $('.col-xs-12').css('width', '');
                        }
                        $("#resizable").resizable({ disabled: false, maxWidth: $('.container-fluid').innerWidth() - 300 });
                        $('#mirror').css('width', Math.floor($('.container-fluid').innerWidth() - $("#resizable").innerWidth()));
                    }
                });

            });

        </script>

        <script src="/Scripts/FileManager.js"></script>
    }
