﻿@*



<link href="@Url.Content("/Assets/bs3/css/bootstrap.min.css")" rel="stylesheet">
<script src="@Url.Content("/Scripts/knockout-3.1.0.js")"></script>

*@




<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/themes/base/resizable.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Scripts/dropzone/css/basic.css" rel="stylesheet" />
    <link href="/Scripts/dropzone/css/dropzone.css" rel="stylesheet" />
    <link href="/Content/toastr.min.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
    <body class="no-overflow">
        
        @RenderBody()

        <script src="/Scripts/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/underscore.js"></script>
        <script src="/Scripts/knockout-3.2.0.js" type="text/javascript"></script>

        <script src="/Scripts/jquery-ui-1.11.2.min.js"></script>
        <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Scripts/dropzone/dropzone.min.js"></script>
        <script src="/Scripts/spin.min.js" type="text/javascript"></script>
        <script src="/Scripts/bootbox.min.js" type="text/javascript"></script>
        <script src="/Scripts/toastr.min.js" type="text/javascript"></script>       

        <script src="/Scripts/Shared/site.js"></script>
        @RenderSection("scripts", false)
    </body>
</html>


